<html>

<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<section class = 'header'>
    <nav>
        <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="/">Home</a></li>
                {% for category in categories %}
                    <li><a href="/menu/{{category}}">{{category}}</a></li>
                {% endfor %}
                <li><a href="/cart"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
            </ul>
        </div>
    </nav>
<div class="text-box">
    <h1>Welcome to your favourite restaurant!</h1>
    <p>Place your order and fresh food will be on your tables in 30min.</p>
</div>
</section>
</body>
</html>
